
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #3C3C3C;
}

.header {
    background-color: rgb(27, 27, 28);
    height: 60px;
    color: white;
}


/* layout**/
.container {
    width: 99%;
    /* background-color: red; */
    height: 100%;
    margin: auto;

}

.container-header {
    display: flex;
    align-items: center;
}

/**logo***/
.logo-container {
    height: 50px;
    display: flex;
    align-items: center;
    font-family: fantasy;
    color: #FF7600;


    /* overflow: hidden; */
}



.dotin {
    position: relative;
    margin-left: -13px;
    margin-top: -10px;
}

.border-white {
    padding: 5px;
    border: 1.5px solid transparent;
}

.border-white:hover {
    border: 1.5px solid #ffffff;
}

/***********addresss************/
.address-container {
    margin-left: 10px;
}

.address-container p {
    margin: 0;
}

.icon-address {
    display: flex;
    align-items: center;
}

.hello {
    font-size: 0.8rem;
    padding-left: 20px;
    color: #ccc;
}

.icon-location {
    margin-right: 3px;
}


/***search-container****/
.search-container {
    background-color: red;
    margin-left: 25px;
    width: 640px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}

.search-container:hover {
    color: #FF7600;
    outline: 3px solid orange;
}

.search-select {
    width: 60px;
    border: none;
    background-color: rgb(230, 227, 227);
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon {
    width: 50px;
    background-color: #FF7600;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}


/***lauguage section*/
.language-container {
    margin-left: 25px;
}

.language-container p {
    font-size: 0.8rem;
    margin: 0;
}

.lauguge-image {
    width: 20px;
}

.lauguge-image img {
    width: 100%;
}

.link-login {
    color: rgb(255, 255, 255); /* Define a cor azul para o link */
}

.link-carrinho {
    color: rgb(255, 255, 255); /* Define a cor azul para o link */
}
/***login-container***/
.login-container {
    margin-left: 15px;
    
}

.login-container p {
    margin: 0;
   
}

.account {
    font-weight: 900;
    font-size: 1.1rem;
}

.return-order-container {
    width: 65px;
    font-size: 0.9rem;
    margin-left: 10px;
}

.return-order-container p {
    margin: 0;
}

.order {
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    width: 70px;
}

/****cart container***/
.cart-container {
    font-size: 1.1rem;
    display: flex;
}

.cart-container i {
    font-size: 1rem;
}

/**************************************navigation*****************************************/
.nav {
    height: 40px;
    background-color: #232f3d;
    margin: 0;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

.container-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: white;
    list-style: none;
}

.container-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 2px;

}

.nav-right-image-amazon-prime {
    min-width: 300px;
    height: 300;
    max-width: 500px;
}

.nav-right-image-amazon-prime img {
    width: 100%;
    height: 100%;
}

.prime-image {
    background-color: white;
    height: 350px;
    width: 350px;
    position: absolute;
    z-index: 1;
    display: none;
    color: #000;
    margin-left: -10px;
    transition: display 1s;
    padding: 10px;
}

.prime-image-hover:hover .prime-image {
    transition: display 1s;
    display: block;
}

.prime-image img {
    width: 100%;
    height: 100%;
}






/*--image slider --*/
.image-container {
    position: relative;
}

.image-list {
    display: flex;
    overflow: hidden;
    
}

.image-item {
    min-width: 100%;
    height: 600px;
    /* transform: translateX(-300%); */
    transition: transform 0.3s;

}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-btn-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-btn {
    border: 1px solid transparent;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent;
    color: #000;
}

.slider-btn i {
    font-weight: 900;
}

.slider-btn:focus {
    border-color: seagreen;
    box-shadow: -2px -2px 2px rgb(230, 227, 227),
        2px 2px 2px white;
    margin: 2px;
}


/*sidebar navigation****/
#open-nav-sidebar {
    cursor: pointer;
}

.sidebar-container-navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    transform: translateX(-100%);
    display: flex;
    transition: transform 0.3s;


}

.slidebar-show {
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.7);
}

.sidebar-left-part {
    background-color: white;
    width: 365px;
    height: 100%;
    box-sizing: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.sidebar-top {
    display: flex;
    align-items: center;
    padding: 12px;
    padding-left: 30px;
    background-color: rgb(19, 25, 33);
    color: white;
}

.sidebar-top h2 {
    font-size: 22px;
    margin: 0;
}

.sidebar-top i {
    padding-right: 10px;
    font-size: 25px;
}

.sidebar-item {
    padding-left: 30px;
    border-top: 1.5px solid #ccc;
}

.sidebar-item h2 {
    font-size: 20px;
}

.sidebar-item p {
    color: rgb(65, 62, 62);
}

#sidebar-navigation-close {
    background-color: transparent;
    align-self: flex-start;
    font-size: 30px;
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.sidebar-wrap {
    height: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

/*product card container*/

/* Estilos para o contêiner principal */
.main {
    position: relative;
    top:-280px;
   
    
    
}

/* Estilos para o contêiner dos cards */
#Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* Estilos para os cards individuais */
.product-card {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: calc(18% - 2rem); /* Define a largura dos cartões (20% da largura total do contêiner - 2rem de margem) */
    margin-right: x; /* Adiciona margem à direita de cada cartão */
    margin-left: 25px; /* Adiciona margem à esquerda de cada cartão */
    height: 28rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-bottom: 1rem; /* Espaçamento inferior entre os cartões */
    margin-right: 15px; /* Espaçamento entre os cartões */
    
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para a imagem do produto */
.product-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Estilos para os detalhes do produto */
.product-details {
    padding: 1rem;
}

.product-category {
    color: #888;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.product-name {
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.product-price {
    color: #444;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Estilos para o botão de adicionar ao carrinho */
.add-to-cart-btn {
    display: block;
    background-color: #FF7600;;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #e68414;
}
/*container 2*/

.Container-card-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
   
}

.cards img{
    width: 450px;
    height: auto;
    transition: 0.35s ease;
    
}

.cards img:hover{
     transform: scale(0.9) translateY(-5px);
     cursor: pointer;
   
     
}


/*contato /////////////*/

#Contato{
    font-family: Arial, sans-serif;
    font-size: medium
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #111;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}


.meio-contato h3{
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h1{
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5{
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

.meio-contato li{
    margin-bottom: 15px;
}

.meio-contato li a{
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
}

.last-text{
    text-align: center;
    background-color: #555;
    color: #fff;
}
    /*    Today's deals section
***/

/*///////////////////////////////////////////////////////////////////*


/*carrinho */

/* Carrinho */
/*